.divCloseButton {
  text-align: right;
  display: none;
}
.closeButton {
  font-size: 2rem;
  line-height: 22px;
  padding: 0 10px 10px;
  margin-right: -10px;
  display: inline-block;
}
.form {
  margin: 0 auto;
  padding: 7px;
  width: 100%;
}
@media (max-width: 992px) {
  .divCloseButton {
    display: block;
  }
}
