.box {
  border: 1px solid #dee2e6;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  background-color: white;
}
.box .filterContent {
  margin-top: 10px;
  max-height: 300px;
  transition: max-height 0.3s ease-in;
}
.box.contentHidden .filterContent {
  max-height: 0;
  overflow: hidden;
}
.box .filterContent.bigContent {
  overflow: auto;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 -10px;
  padding: 0px 10px;
  cursor: pointer;
}
.box .arrow::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  padding: 3px;
  display: inline-block;
  padding: 3px;
  transform: rotate(225deg);
  vertical-align: middle;
  transition: transform 0.3s;
}
.box.contentHidden .arrow::after {
  transform: rotate(45deg);
}

.box .clearFilter {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  height: 0;
  place-content: center;
  align-items: center;
  background-color: #f1f1f1;
  margin: 10px -10px -10px;
  transition: height 0.3s ease-in;
}
.box .clearFilter.active {
  height: 45px;
}
.closeButton {
  display: inline-block;
  line-height: 10px;
  font-size: 1.4rem;
  padding-right: 5px;
}
