.pagination {
  display: inline-block;
}

.pagination span {
  color: black;
  float: left;
  padding: 8px 16px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.pagination span.active {
  background-color: #d2d2d2;
  color: white;
}

.pagination span:hover:not(.active) {
  background-color: #ddd;
}
